@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital@1&display=swap');
@media screen and (min-width:200px) and (orientation:landscape)
{
    
    .main-container
    {
        background-image: linear-gradient(45deg,#0F9FBF,#033859);
        margin-right: 50em;
    }
    .card-body{
        display: flex;
        flex-direction: row;
    }
    .card-image{
        display: flex;
        position: relative;
        top: 2em;
    width: 40%;
    height: 15em;
    left: 3em;
    }
    .card-title
    {
        margin-top: 2em;
        text-align: center;
    }
    .card-container{
        position: flex;
        margin-left: 1em;
        margin-right: 1em;
    }
    .card-content{
        width: 50%;
        text-align: center;
        position: relative;
    }
    .card-footer
    {
        margin: 2em;
        margin-left: 15em;
    }
}